#form .info {
    padding: 15px;
    background: #fff;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  .form .title h2{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
  }
  #form .top{
    margin-top: 15px;
  }
  #form .submit{
    margin-top: 15px;
  }
  #form .title h2::after {
    content: "";
    position: static;
    display: block;
    width: 100px;
    height:3px;
    background: #fffb1cf9;
    bottom: 0;
    left: 0;
  }
  #form .section{
    margin-top: -45px;
  }
  #form .section h2::after {
    content: "";
    position: static;
    display: block;
    width: 100px;
    height:3px;
    background: #fffb1cf9;
    bottom: 0;
    left: 0;
  }
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  mat-slider {
    width: 99%;
  }
  .datepicker{
    width: 100%;
    background-color: #fff;
    color: #fff;
  }
  .bg-white{
    background-color: #fff;
  }
  :host ::ng-deep .mat-form-field .datepicker  {
    background-color: #fff;
    color: #fff;
}
.m-l-15{
  margin-left: 15px;
}