.rotate {
  
}
.rotate:hover{
    animation: rotate infinite 3s linear;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #000;
   
  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 170px;
    border: 5px solid #fffb1cf9;
  }
 
  li > a.active {
     color: #fffb1cf9;
     font-style: italic; 
    }
  #header .profile h1 {
    font-size: 29px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a,
  #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }

  .container,
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
    .container,
    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .nav-menu {
    padding: 30px 0 0 0;
  }
  .navbar li .submenu{ 
  
    margin: 0; 
    padding: 0; 
    padding-left: 1rem; 
    padding-right: 1rem;
  }
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i {
    color: #fffb1cf9;
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #149ddd;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .mobile-nav-active {
    
  }
  
  .mobile-nav-active #header {
    left: 0;
  }

  @media all and (min-width: 992px) {

    .sidebar li{ position: relative; }
    .sidebar li .submenu{ 
      
      position: absolute;
      left:150px; top:-120px;
      min-width: 240px;
      background-color: #6f7180;
      color: #fff;
    }
    .sidebar li:hover > .submenu{ 
      display: block; 
     
    }
    .sidebar li:hover .submenu a{
      color:#fff ;
      text-decoration: none;
    }
    .sidebar li:hover .submenu a:hover{
      color:#fffb1cf9;
      font-style: italic;
    }
  }	
   
  @media (max-width: 992px) {
  
    .sidebar .submenu, .sidebar .dropdown-menu{
      position: static!important;
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }
  
  }