<header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img src="https://raw.githubusercontent.com/davidmirza/web/gh-pages/src/assets/img_logo.jpg" alt="" class="img-fluid rounded-circle rotate">
        <h1 class="text-light">David Mirza</h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a routerLink="Home" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a routerLink="Gallery" class="nav-link" routerLinkActive="active"><i class="bx bx-image"></i> <span>Gallery</span></a></li>
          <li><a routerLink="Contact" class="nav-link" routerLinkActive="active"><i class="bx bxs-contact"></i> <span>Contact</span></a></li>
          <li><a routerLink="Sample" class="nav-link" routerLinkActive="active"><i class="bx bx-hard-hat"></i> <span>Sample</span></a></li>
          
        </ul>
      </nav> 
    </div>
  </header> 