<div class="card">
     
    <p-fileUpload  name="demo[]" chooseIcon="bx bx-plus" [showUploadButton]="false" [showCancelButton]="false"
            [multiple]="multiple" accept="image/*" [maxFileSize]="maxFileSize">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
<!-- 
            <ng-template let-file let-desc pTemplate="file" style="width: 100%;">
                <div *ngIf="file.type.indexOf('image/') > -1">
                    <iframe [src]="file.objectURL" class="previewFrame" allowfullscreen></iframe>
                </div>
            </ng-template> -->
    </p-fileUpload>

   
</div>
