<section id="contact" class="contact section-bg ">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
      </div>

      <div class="row contact-container justify-content-center align-items-center">

        <div class="text-center">
            <a href="https://github.com/davidmirza" target="_blank" ><i class="bx bxl-github"></i></a>
            <a href="https://wa.me/+6285640111632" target="_blank" class="facebook"><i class="bx bxl-whatsapp"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="mailto:davemirza9@gmail.com" class="google-plus"><i class="bx bxl-gmail"></i></a>
          <p>You can contact me or follow my social media</p>

          </div>
      </div>
      
    </div>
  </section>