#contact{

}
#contact a{
    font-size: 98px;
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 126px;
    height: 126px;
    transition: 0.3s;
}
#contact a:hover{
    color: #fffb1cf9;
}
#contact p{
    margin-top: 25px;
    
}