<footer id="footer">
    <div class="container">
        <div class="social-links mt-3 text-center">
            <a href="https://github.com/davidmirza" target="_blank" ><i class="bx bxl-github"></i></a>
            <a href="https://wa.me/+6285640111632" target="_blank" class="facebook"><i class="bx bxl-whatsapp"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="mailto:davemirza9@gmail.com" class="google-plus"><i class="bx bxl-gmail"></i></a>
          </div>
      <div class="credits">
       Made With <a href="#"><i class="bx bxl-angular"></i></a> <a href="#"> <i class="bx bxl-bootstrap"></i></a>
      </div>
    </div>
  </footer>