  /* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Covered+By+Your+Grace&family=Exo+2:wght@200&family=Overlock+SC&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Covered+By+Your+Grace&family=Exo+2:wght@200&family=Overlock+SC&family=Overlock:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,500&display=swap');

  html body {
    background-color: #fff;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
  }

  section {
    display: grid;
    min-height: 100vh;
    place-items: center;
  }

  footer {
    display: grid;
    min-height: 10vh;
    place-items: center;
    background-color: gray;
  }

  .header {
    padding: 1px 1px;
    width: 100%;
    background: #fff;
    color: #2900f7;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .border-header {
    width: 100%;
    height: 2px;
    background: #7c00f7;
  }

  .progress-bar {
    height: 2px;
    background: #04AA6D;
    width: 0%;
  }

  .header-logo {
    margin-left: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-logo h2 {
    font-family: 'Merriweather Sans', sans-serif;
    color: #1544ed;
  }

  .header-logo>img {
    width: 50px;
    height: 50px;
  }

  #main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Overlock', sans-serif;
  }

  .gap_ {
    gap: 1rem;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 3vh;
    margin-right: 4rem;
  }

  .togle-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
  }

  .togle-mobile span {
    width: 100%;
    height: 2px;
    background-color: #2900f7;
    transition: all 500ms ease-in-out;
  }

  .togle-menu {
    display: none;
  }

  #main-header a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
    padding: 5px;
    transition: 50ms ease-out;
    width: 100px
  }

  #main-header a:hover {
    font-weight: 800;
    background-color: yellow;
    border-radius: 10px;
    cursor: pointer;
    text-decoration-line: underline;
    text-underline-offset: 1rem;
  }


  .img-header {
    max-width: 55%;
    max-height: auto;
    object-fit: cover;
  }

  .section-service {
    background-color: #18022e;
  }

  #services {
    min-height: 100vh;
    width: 100%;
  }

  #project .ex {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    min-height: 5vh;
  }

  .box-service {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    min-height: 25vh;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 1rem;
  }

  .w-42 {
    width: 420px;
  }

  .w-55 {
    width: 550px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .head-title {
    font-size: 3.5vw;
    color: #fff;
    font-weight: 700;
    padding-bottom: 1rem;
    font-family: 'Merriweather Sans', sans-serif;
  }

  .font-contact {
    color: #1544ed;
    font-weight: 700;
    padding-bottom: 1rem;
    font-family: 'Merriweather Sans', sans-serif;
  }

  .item {
    font-size: 2.5vw;
  }

  .title {
    font-size: 3.5vw;
  }

  .title-service {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    padding: 0.2rem;
  }

  .dt-contact {
    font-size: 2vw;
    font-weight: 700;
    color: #1544ed;
    padding: 0.2rem;
  }

  .desc-service {
    font-size: 0.9rem;
    padding: 2px;
    color: #ffffff;
    word-wrap: break-word;
    justify-items: flex-start;
  }

  .section-experience {
    background-color: #013010;
    min-height: 100vh;
    padding: 10vh;
  }

  .section-home {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.3' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(128 1000 750) scale(10.2) translate(-901.96 -676.47)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(128 1000 750) scale(10.2) translate(-901.96 -676.47)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(128 1000 750) scale(10.2) translate(-901.96 -676.47)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(128 1000 750) scale(10.2) translate(-901.96 -676.47)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(128 1000 750) scale(10.2) translate(-901.96 -676.47)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(128 1000 750) scale(10.2) translate(-901.96 -676.47)'%3E%3Cg fill='%237C00F7'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(128 1000 750) scale(10.2) translate(-901.96 -676.47)'%3E%3Cg fill='%237C00F7'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(128 1000 750) scale(10.2) translate(-901.96 -676.47)'%3E%3Cg fill='%237C00F7'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  .rows {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .lbl-title {
    max-height: 50px;
    max-width: 500px;
    font-size: 3vw;
  }

  .section-home .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50%;
  }

  .section-contact .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

  }

  .home-name {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .contact-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .section-home .right {
    background-color: #fff;
  }

  .section-home .lbl-name {
    font-size: 4.2vw;
    font-weight: 600;
    animation: animlblName 5s infinite;
  }

  @keyframes animlblName {
    50% {
      color: #7c00f7
    }
  }

  .youtube {
    max-width: 100%;
    height: auto;
  }

  .row-example {
    margin-top: 5rem;
  }

  .row-contact {
    margin-top: 10px;
  }

  .section-contact {
    background-color: #fff;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }

  .img-contact {
    max-height: 70%;
    object-fit: fill;
    border-radius: 5vw;
  }

  .p-2 {
    padding: 2rem;
  }

  .list-contact {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
  }

  .list-contact .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem
  }

  .hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .nav-menu-mobile {
    display: none;
  }

  .main-header .mobile-active {
    display: flex;
    flex-direction: column;
  }

  .togle-menu.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
    background-color: red;
  }

  .togle-menu.open span:nth-child(2) {
    filter: blur(10px);
  }

  .togle-menu.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
    background-color: blue;
  }

  .togle-menu span:first-child {
    transform: none;
  }

  .togle-menu span:nth-child(2) {
    opacity: 1;
  }

  .togle-menu span:last-child {
    transform: none;
  }

  .nav-menu-mobile a:first-child {}

  .footer {
    height: 25px;
    background-color: gray;
    margin-bottom: 0;
  }

  @media screen and (max-width:769px) {
    .section-home .rows {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .section-contact .rows {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .section-home .home-name {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 40vh;
    }

    .section-home .lbl-name {
      font-size: 10vw;
    }

    .lbl-title {
      width: max-content;
      height: 35px;
      font-size: 8vw;
    }

    .contact-item {
      width: 85%;
    }

    .section-home .image {
      height: 60vh;
      display: flex;
      background-color: #fff;
      width: 100%;
    }

    .section-home .img-header {
      margin-top: -5vh;
    }

    .togle-menu {
      display: inline-block;
      position: relative;
      margin-right: 2rem;
      margin-top: 2rem;
      cursor: pointer;
    }

    .main-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: 'Overlock', sans-serif;
      align-items: flex-start;
    }

    .nav-menu {
      display: none;
    }

    .nav-menu-mobile {
      transition: all 500ms ease-in-out;
      filter: blur(50px);
      transform: translateY(-200%);
      display: flex;
      max-height: 0px;
      flex-direction: column;
      text-decoration: none;
      align-items: center;
      gap: 1vh;
      margin-right: 4rem;
    }

    .nav-menu-mobile.open {}

    .nav-menu-mobile.delay {
      transition: all 500ms ease-in-out;
      filter: blur(0);
      transform: translateY(0);
      display: flex;
      max-height: 300px;
      flex-direction: column;
      text-decoration: none;
      align-items: center;
      gap: 1vh;
      margin-right: 4rem;
    }

    .img-contact {
      width: 90vw;
      object-fit: fill;
      border-radius: 5vw;
    }

    .head-title {
      font-size: 8vw;
      color: #fff;
      font-weight: 700;
      padding-bottom: 1rem;
      font-family: 'Merriweather Sans', sans-serif;
    }

    .font-contact {
      color: #1544ed;
      font-weight: 700;
      padding-bottom: 1rem;
      font-family: 'Merriweather Sans', sans-serif;
    }

    .item {
      font-size: 4vw;
    }

    .title {
      font-size: 8vw;
    }

    .dt-contact {
      font-size: 3.5vw;
      font-weight: 700;
    }

    .w-42 {
      width: 80%;
    }

    .w-55 {
      width: 80%;
    }

    .section-experience .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .section-experience {
      background-color: #013010;
      min-height: 100vh;
      padding: 1vh;
    }

    .section-experience .box-service {
      justify-content: center;
      gap: 1rem;
      align-items: center;
      width: 80%;
      min-height: 25vh;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 1rem;
    }
  }